---
import CarrerasPorFacultad from "../Components/CarrerasPorFacultad.astro";

import Layout from "./Layout.astro";
import type { ICarrera } from "./LayoutCarrera.astro";

import "../assets/style.css";


const {breadcrumbs} = Astro.props;


export const carrerasFacultadAdministracion:ICarrera[] = [
    {
        niveles:'8 Semestres',
        carrera:'Administración de Empresas',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FADM/AdministraciondeEmpresas/AdministraciondeEmpresas_BannerCuadrado.png',
        url: 'administracion_empresas'
    },
    {
        niveles:'8 Semestres',
        carrera:'Comercio Exterior',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FADM/ComercioExterior/ComercioExterior_BannerCuadrado.png',
        url: 'comercio_exterior'
    },
    {
        niveles:'8 Semestres',
        carrera:'Contabilidad y Auditoría',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FADM/ContabilidadyAuditoría/ContabilidadyAuditoría_BannerCuadrado.png',
        url: 'contabilidad_auditoria'
    },
    {
        niveles:'8 Semestres',
        carrera:'Marketing',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FADM/Marketing/Marketing_BannerCuadrado.png',
        url: 'marketing'
    }
    
]

export const carrerasFacultadDerecho:ICarrera[] = [
    {
        niveles:'8 Semestres',
        carrera:'Comunicación',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FCSD/Comunicacion/Comunicacion_BannerCuadrado.png',
        url: 'comunicacion'
    },
    {
        niveles:'8 Semestres',
        carrera:'Derecho',
        modalidad:'Híbrida',
        profesion: 'Abogado',
        imagen: 'images/bannersCarreras/FCSD/Derecho/Derecho_BannerCuadrado.png',
        url: 'derecho'
    },
    {
        niveles:'8 Semestres',
        carrera:'Economía',
        modalidad:'Híbrida',
        profesion: 'Economista',
        imagen: 'images/bannersCarreras/FCSD/Economia/Economia_BannerCuadrado.png',
        url: 'economia'
    },
    {
        niveles:'8 Semestres',
        carrera:'Psicología',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FCSD/Psicologia/Psicologia_BannerCuadrado.png',
        url: 'psicologia'
    }
    
]

export const carrerasFacultadEducacion:ICarrera[] = [
    {
        niveles:'8 Semestres',
        carrera:'Educación Básica',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FEDU/EducacionBasica/EducacionBasica_BannerCuadrado.png',
        url: 'educacion_basica'
    },
    {
        niveles:'8 Semestres',
        carrera:'Educación Inicial',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FEDU/EducacionInicial/EducacionInicial_BannerCuadrado.png',
        url: 'educacion_inicial'
    },
    {
        niveles:'8 Semestres',
        carrera:'Psicopedagogía',
        modalidad:'Híbrida',
        profesion: 'Licenciado',
        imagen: 'images/bannersCarreras/FEDU/Psicopedagogía/Psicopedagogia_BannerCuadrado.png',
        url: 'psicopedagogia'
    }
    
]

export const carrerasFacultadIngenieria:ICarrera[] = [
    {
        niveles:'8 Semestres',
        carrera:'Arquitectura',
        modalidad:'Presencial',
        profesion: 'Arquitecto',
        imagen: 'images/bannersCarreras/FIIC/Arquitectura/Arquitectura_BannerCuadrado.png',
        url: 'arquitectura'
    },
    {
        niveles:'8 Semestres',
        carrera:'Ingeniería Civil',
        modalidad:'Presencial',
        profesion: 'Ingeniero',
        imagen: 'images/bannersCarreras/FIIC/Ingeniería Civil/IngenieríaCivil_BannerCuadrado.png',
        url: 'ing_civil'
    }
    
]
---

<Layout {breadcrumbs}>

    <div id="rs-categories" class="rs-categories main-home pt-20 pb-100 md-pt-60 md-pb-80">
        <CarrerasPorFacultad carreras={carrerasFacultadAdministracion}>
            Facultad de Administración
        </CarrerasPorFacultad>
        <CarrerasPorFacultad carreras={carrerasFacultadDerecho}>
            Facultad de Ciencias Sociales y Derecho
        </CarrerasPorFacultad>
        <CarrerasPorFacultad carreras={carrerasFacultadEducacion}>
            Facultad de Educación
        </CarrerasPorFacultad>
        <CarrerasPorFacultad carreras={carrerasFacultadIngenieria}>
            Facultad de Ingeniería, Industria y Construcción
        </CarrerasPorFacultad>        
    </div>
    
</Layout>